/*Menu*/

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #333;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}

/*Image*/

.home-pic {
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
}

.profile-aboutme-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.skill-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    vertical-align: middle;
}

.project-pic {
    width: 200px;
    height: 200px;
}

.internship-pic {
    width: 300px;
    height: 150px;
}

/*Card*/

.project-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    color: black;
    text-decoration: underline;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .project-card {
        width: 350px;
    }
}

.internship-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.internship-card h3 {
    color: black;
    text-decoration: underline;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .internship-card {
        width: 350px;
    }
}

/*AboutMe*/

.skills-container, .soft-skills-container, .passions-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 10px;
    justify-content: center;
}

.skill, .soft-skill, .passion {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 100px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*Project*/

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/*Internship*/

.internship {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*Project / internship*/

.labels {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.label {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid black;
    transition: background-color 0.3s;
}

.label:hover {
    background-color: #0056b3;
    color: #fff;
}

