/*Menu*/

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right:0%;
        background-color: #333;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}

/*Image*/

.home-pic {
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
}

.profile-aboutme-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.skill-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    vertical-align: middle;
}

.project-pic {
    width: 200px;
    height: 200px;
}

.internship-pic {
    width: 300px;
    height: 150px;
}

/*Card*/

.project-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    color: black;
    text-decoration: underline;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .project-card {
        width: 350px;
    }
}

.internship-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.internship-card h3 {
    color: black;
    text-decoration: underline;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .internship-card {
        width: 350px;
    }
}

/*AboutMe*/

.rounded-border {
    border: 1px solid #f9f9f9; 
    border-radius: 10px; 
    padding: 15px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%; 
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .rounded-border {
        width: 50%; 
    }
}

.skills-container, .soft-skills-container, .passions-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 10px;
    justify-content: center;
}

.skill, .passion {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 90px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*Project*/

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/*Internship*/

.internship {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*Project / internship*/

.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.label {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid black;
    transition: background-color 0.3s;
    margin-top: auto;
    margin-bottom: auto;
}

.label:hover {
    background-color: #0056b3;
    color: #fff;
}

.soft-skill {
    position: relative;
    perspective: 1000px;
    padding: 20px;
    width: 90px;
    height: 120px;
    margin-left: 2%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soft-skill-content, .soft-skill-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soft-skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}

.soft-skill-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    transform: rotateY(180deg);
}

.soft-skill:hover .soft-skill-content {
    transform: rotateY(180deg);
}

.soft-skill:hover .soft-skill-back {
    transform: rotateY(0);
}

@media (max-width: 1500px) {
    .soft-skill {
        margin-bottom: 6%; 
        margin-left: 4%; 
    }

    .soft-skill-content, .soft-skill-back {
        padding: 10px; 
    }
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #004494;
}

/* Styles pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Styles pour les appareils mobiles */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }



}

.contact-info {
    margin: 20px auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: fit-content;
}

.contact-info p {
    margin: 5px 0;
}

.categories-container {
    display: flex;
    margin: 20px;
    gap: 10px;
    justify-content: center;
}

.category {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: fit-content; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category h4 {
    text-align: center;
    margin-bottom: 15px;
}

/* Styles pour les appareils mobiles */
@media (max-width: 1159px) {
    .categories-container {
        flex-direction: column;
        align-items: center;
    }

    .category {
        width: 90%;
        margin-bottom: 20px;
    }
}


