.img-capture{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

ul{
    text-align: left;
    width:max-content;
    max-width:90%;
    margin:auto;
}

ul ul{
    margin-left:0%;
}